      <div class="jumbotron">
        <h1>Shortyfy me</h1>
        <% @url.errors.each do |attr, msg| %>
			<%= msg %> on <%= attr %>
		<% end %>
        <p class="lead">Add the URL you want to be shortened.</p>
        <p>

		<%= form_for @url do |f| %>
			<p>
				<%= f.label :original %> : <%= f.text_field :original %>
			</p>
			<p>
				<%= f.hidden_field :random_id, :value => @url.random_id %>
			</p>
				<%= f.submit "Shortyfy my URL", class: "btn btn-lg btn-success" %>

		<% end %>
        
      </div>